<div class="row">

  <!-- START FILTERS -->
  <div class="col-md-3 filters">
    
    <!-- FILTER MOVIL -->
    <div class="row visible-xs filters-movil">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-default" id="accordion0">
            <div class="panel-heading">
              <h5 class="panel-title text-center">
                Filtrar
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapseMovil" >
                </a>
              </h5>
            </div>
            <div id="collapseMovil" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel-group">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <!--img src="/assets/icons/filters/search.svg" class="icon-title"-->
                          <span class="icon-title icon-search"></span>
                          Nombre de hotel
                        </h5>
                      </div>
                      <div id="" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                              <input class="form-control inp-search" name="inpSearch" type="text" placeholder="Ingrese el nombre del hotel" [(ngModel)]="inpSearch" list="hotelList">
                  
                              <datalist id="hotelList">
                                <ng-container *ngFor="let hotel of data.data">
                                  <option value="{{hotel.name}}"></option>
                                </ng-container>
                              </datalist>
                              
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="panel-group">
                        <div class="panel-heading">
                          <h5 class="panel-title">
                            <!--img src="/assets/icons/filters/star.svg" class="icon-title"-->
                            <span class="icon-title icon-star"></span>
                            Estrellas
                          </h5>
                        </div>
                        <div id="" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="" [(ngModel)]="radStars">
                                Todas las estrellas
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="5" [(ngModel)]="radStars">
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="4" [(ngModel)]="radStars">
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="3" [(ngModel)]="radStars">
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="2" [(ngModel)]="radStars" >
                                <span class="icon-title icon-star"></span>
                                <span class="icon-title icon-star"></span>
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="radio" value="1" [(ngModel)]="radStars" >
                                <span class="icon-title icon-star"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <input type="button" class="btn-primary" value="Aceptar" (click)="getHotelsFilter()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- FILTER WEB -->
    <div class="row title hidden-xs">
      <div class="col-md-12">
        <div class="panel-heading">
          <h4>Filtros</h4>
        </div>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-default" id="accordion1">
          <div class="panel-heading">
            <h5 class="panel-title">
              <!--img src="/assets/icons/filters/search.svg" class="icon-title"-->
              <span class="icon-title icon-search"></span>
              Nombre de hotel
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                  <input class="form-control inp-search" name="inpSearch" type="text" placeholder="Ingrese el nombre del hotel" [(ngModel)]="inpSearch" list="hotelList">
                  
                  <datalist id="hotelList">
                    <ng-container *ngFor="let hotel of data.data">
                      <option value="{{hotel.name}}"></option>
                    </ng-container>
                  </datalist>
                  <input type="button" class="btn-primary" value="Aceptar" (click)="getHotelsFilter()">
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-default" id="accordion2">
            <div class="panel-heading">
              <h5 class="panel-title">
                <!--img src="/assets/icons/filters/star.svg" class="icon-title"-->
                <span class="icon-title icon-star"></span>
                Estrellas
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="radio" value="" [(ngModel)]="radStars">
                    Todas las estrellas
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="radio" value="5" [(ngModel)]="radStars">
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="radio" value="4" [(ngModel)]="radStars">
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="radio" value="3" [(ngModel)]="radStars">
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="radio" value="2" [(ngModel)]="radStars" >
                    <span class="icon-title icon-star"></span>
                    <span class="icon-title icon-star"></span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="radio" value="1" [(ngModel)]="radStars" >
                    <span class="icon-title icon-star"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END FILTERS -->
  
  <!-- START HOTELS -->
  <div class="col-md-9 section-hotels">

    <div *ngIf="dataFilter.status; else templateNoData">
      <ng-container *ngFor="let hotel of dataFilter.data">
        <div class="row">
          <div class="col-md-4 hotel-img">
            <img src="/assets/images/hotels/{{ hotel.image }}" alt="Hotel">
          </div>
          <div class="col-md-5 hotel-amenities">
            <h5 class="panel-title">
              {{ hotel.name }}
            </h5>
            <br>
            <p>
              <ng-container  *ngFor="let n of numStars">
                <ng-container *ngIf="hotel.stars>=n">
                  <span class="icon-title icon-star"></span>
                </ng-container>
              </ng-container >
            </p>
            <br>
            <p>
              <ng-container *ngFor="let item of hotel.amenities" >
                <span *ngIf="item=='nightclub'">
                  <span class="icon-title icons icon-bar"></span>
                </span>
              </ng-container>
              <span class="icon-title icons icon-restaurant"></span>
              <span class="icon-title icons icon-business-center"></span>
              
            </p>
          </div>
          <div class="col-md-3 hotel-cost">
            <br>
            <p>
              Precio por noche por habitación
            </p>
            <h3>
              ARS <span>{{ hotel.price }}</span>
            </h3>
            <input type="button" class="btn-primary" value="Ver hotel">
          </div>
        </div>
      </ng-container>
    </div>
    <ng-template #templateNoData>
      {{ data.message }}
    </ng-template>

  </div>
  <!-- END HOTELS -->

</div>


