/* You can add global styles to this file, and also import other style files */

body {
	background-color: #f4f4f4;
}

.navbar {
    border: 0em solid transparent;
    border-radius: 0em;
}

.navbar-default {
	background-color: #033f7a;
    padding: 1em;
}

.navbar-default img {
	margin-top: -15px;
}

.icon-title {
    max-width: 1em;
    margin-top: -0.5em;
}
.icon-title:after {
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    float: left;
    margin-right: 0.5em;   
}
.icon-search:after {
    content: "\e003 ";    /* taken from bootstrap.css */
}
.icon-star:after {
    content: "\e006 ";    /* taken from bootstrap.css */
}
.icon-restaurant:after {
    content: "\e008 ";    /* taken from bootstrap.css */
}
.icon-bar:after {
    content: "\e001 ";    /* taken from bootstrap.css */
}
.icon-camera:after {
    content: "\e046 ";    /* taken from bootstrap.css */
}
.icon-business-center:after {
    content: "\e011 ";    /* taken from bootstrap.css */
}
.icon-bathtub:after {
    content: "\e219 ";    /* taken from bootstrap.css */
}
.icon-newspaper:after {
    content: "\e022 ";    /* taken from bootstrap.css */
}

.btn-primary {
    background-color: #033f7a;
}

/* FILTROS */
.filters {
	box-shadow: 0 0 10px #ddd;
    padding: 0;
}

.filters .row {
	margin: 0 0 0.4em 0;
	background-color: #fff;
}

.filters .col-md-12 {
    padding: 0px;
}

.filters .panel-heading {
	background-color: transparent;
	color: #007aaf;
}

.filters .panel-heading h4{
	color: #000;
}

.filters .panel-group {
    margin-bottom: 0px;
    border-radius: 0px;
}

.filters .panel-default {
    border-radius: 0px;
}

.filters .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}

.filters .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e253";    /* taken from bootstrap.css */
    float: right;    
}
.filters .panel-heading .accordion-toggle.collapsed:after {
    content: "\e252";    /* taken from bootstrap.css */
}


.filters .btn-primary {
	padding: 0.4em;
    width: 29%;
}

.filters .inp-search {
	width: 69%;
}

.filters .checkbox .icon-star {
	color: #ffb933;
	float: right;
	margin: 0.1em;
}

.filters-movil .btn-primary {
	width: 100%;
}


/** SECTION-HOTELS */

.section-hotels .row {
	background-color: #fff;
	margin-left: 0.2em;
	margin-bottom: 1.5em;
    padding: 0.5em;
}

.section-hotels .hotel-img {
	padding: 0;
}

.section-hotels .hotel-img img {
	width: 100%;
	max-height: 13em;
}

.section-hotels .hotel-amenities {
	color: #007aaf;
}

.section-hotels .hotel-amenities .icon-star {
	color: #ffb933;
}

.section-hotels .hotel-amenities .icons{
	color: #444444;
}

.section-hotels .hotel-cost {
	text-align: center;
	height: 13em;
	border-left: 1px dashed #444444;
}

.section-hotels .hotel-cost p{
	color: #444444;
	font-size: 0.9em;
}

.section-hotels .hotel-cost h3{
	color: #e56815;
}

.section-hotels .hotel-cost h3 span{
	font-size: 1.4em;
	position: relative;
    top: 4px;
}

.section-hotels .hotel-cost .btn-primary {
	padding: 0.3em;
    font-size: 1.3em;
    width: 80%;
}



@media (max-width: 575px) {
	.section-hotels .row {
	    margin-left: 0em;
	    margin-right: 0.1em;
	}

	.section-hotels .hotel-amenities {
	    margin-top: 1em;
	}

	.section-hotels .hotel-cost {
		border-top: 1px dashed #444444;
		border-left: 0px;
		margin-top: 2em;
	}
}


@media (min-width: 576px) and (max-width: 767px) { 

}


@media (min-width: 768px) and (max-width: 991px) { }


@media (min-width: 992px) and (max-width: 1199px) { }


@media (min-width: 1200px) { }
